<%= form_for @educator , html:{class:"form"}  do |f| %>
  <% if @educator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educator.errors.count, "error") %> prohibited this educator from being saved:</h2>

      <ul>
      <% @educator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nome" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label "Sobrenome" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label "Idade" %><br>
    <%= f.number_field :age %>
  </div>
  <button type="submit" class="btn btn-default">Salvar</button>
  
<% end %>
